.order-details__wrapper {
    padding: 20px;
    font-size: 13px;
}

.order-details__wrapper  p {
    margin: 0;
}
.order-details {
    padding: 10px;
    margin-top:20px;
}

.order-details p {
    margin: 0;
}

.order-details__data {
    font-weight: bold;
}

.order-details__status {
    font-size: 11px;
}